.title {
    margin-bottom: 25px;
}

.dateSelect {
    margin-top: 25px;
    
    .calendar {
        margin-bottom: 15px;
    }
}

.timeSelect {
    width: 57%;
}

.mantine-Calendar-selected {
    background-color: var(--primary)!important;
}

.mantine-Calendar-yearPickerControlActive {
    background-color: var(--primary)!important;
    color: white!important;
}

.mantine-Calendar-monthPickerControlActive {
    background-color: var(--primary)!important;
    color: white!important;
}


.mantine-Calendar-day:disabled {
    color: rgb(216, 216, 216)!important;
}