// .input {
//     div{
//         input:not(:placeholder-shown) {
//             border-color: var(--primary)!important;
//         }
//     }
// }

.infoForm {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .preUser {
        margin-top: -20px;

        .formLink {
            color: var(--primary);
            cursor: pointer;
            user-select: none;
        }
    }
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .login-button {
        background-color: #7fa474;
        color: white!important;

        &:hover {
            background-color: #749569;
        }
    }
}

