.adminView {
    min-height: 100vh;
    display: flex;

    &-btn {
        color: white!important;
        padding: 0 10px!important;
    }
}

.login {
    min-height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

    &-form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .admin-btn {
            margin-top: 10px!important;
        }
    }
}

.admin {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    

    .nav {
        width: 20rem;
        height: 100%;
        background: var(--primary);
        display: flex;
        flex-direction: column;
        padding: 20px;

        &-header {
            padding: inherit;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0px;
                width: calc(100% - 40px);
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                backdrop-filter: brightness(0.5);
            }
        }

        &-links {
            padding: 20px;
            display: flex;
            flex-direction: column;

            &-item {
                display: flex;
                gap: 20px;
                height: max-content;
                padding: 10px;
                border-radius: 7px;
                cursor: pointer;
                user-select: none;

                &:hover {
                    background: #759e6a;
                }

                &.active {
                    background: #58794f;
                }
            }
        }
        
        * {
            color: white;
        }
    }

    .content {
        padding: 40px;
    }
}

.admin-title {
    margin-bottom: 20px;
}

.actions {
    display: flex;
    gap: 10px;
}