.behandlinger {
  min-height: 100vh;
  background-color: var(--body-color);
  padding-top: var(--header-height);

  h2 {
    text-align: center;
    padding: 1rem;
  }

  span {
    color: var(--primary);
    font-size: var(--tiny-font-size);
    font-weight: var(--font-medium);
  }

  h3 {
    font-size: var(--h2-font-size);
    line-height: 1.2rem;

    span {
      font-size: var(--small-font-size);
      color: var(--font-color);
    }
  }

  &__data {
    padding-bottom: 4rem;
  }

  a {
    color: var(--font-color);
    font-size: var(--small-font-size);

    &:hover {
      color: var(--primary);
    }
  }

  &__card {
    position: relative;
  }
}

.pris {
  width: 3.5rem;
  background-color: var(--primary);
  height: 3.5rem;
  border-radius: 50px;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: var(--smaller-font-size);

  // right: 0;
  // margin-top: -1.5rem;

  p {
    color: var(--body-color);
    font-weight: var(--font-semibold);
    font-size: var(--small-font-size);
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
  }
}

.vector {
  margin-top: -2em;
}
