.behandlinger {
  min-height: 100vh;
  background-color: var(--body-color);

  h2 {
    text-align: center;
    padding: 1rem;
  }

  span {
    color: var(--primary);
    font-size: var(--tiny-font-size);
  }

  h3 {
    font-size: var(--h2-font-size);
  }

  &__data {
    padding-bottom: 4rem;
  }

  a {
    color: var(--font-color);
    font-size: var(--small-font-size);
  }

  &__card {
    position: relative;
  }
}

.vector {
  width: 800px;
  margin: -100px;
  
}

.pris {
  background-color: var(--primary);
  border-radius: 50px;
  padding: 1.65rem 1rem;
  width: max-content;
  height: max-content;
  color: var(--body-color);
  font-weight: var(--font-semibold);
  position: absolute;
  right: 0;
  margin-top: -1.5rem;
}
