@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");

.footer {
  background-color: var(--secondary);
  width: 100%;

  &__hr {
    color: var(--primary);
    opacity: 1;
  }

  &__icons {
    height: max-content;

    i {
      padding: 1rem;
      color: var(--secondary);
      background-color: var(--form-color);
      border-radius: 50px;
    }
  }

  &__list {
    list-style: disc !important;
    color: var(--dark);
  }
  &__a {
    color: var(--font-color);
    text-decoration: none;

    &:hover {
      color: var(--primary);
    }
  }
  &__link {
    color: var(--dark);
    font-weight: var(--font-medium);

    &:hover {
      color: var(--primary);
    }
  }
  &__muted {
    color: var(--font-color-muted);
    font-size: var(--small-font-size);
  }

  &__copy {
    height: var(--copyright-height);
    background-color: var(--font-color);
    color: var(--body-color);
    display: flex;
    justify-content: space-between;
  }
}

/*
     <Navbar  className="nav fluid fixed-top p-1 " expand="lg">
      <figure className="col-3 col-md-2 col-lg-1  ps-3">
*/
