@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");

.footer {
  background-color: var(--secondary);

  h3 {
    font-size: var(--h3-font-size);
  }

  &__justdiv {
    &-text {
      font-size: var(--small-font-size);
    }
    &-intro {
      font-size: var(--small-font-size);
      color: var(--primary);
      margin: 0;
      padding: 0;
    }
  }

  &__hr {
    color: var(--primary);
    opacity: 1;
  }

  &__icons {
    height: max-content;

    i {
      color: var(--font-color);
      font-size: 2.5rem;
    }
  }

  &__list {
    color: var(--dark);
    line-height: 1rem;
  }
  &__a {
    text-decoration: none;
    display: flex;
    color: var(--font-color);

    &:hover {
      color: var(--primary);
    }
  }
  &__link {
    color: var(--dark);
    font-weight: var(--font-medium);

    &:hover {
      color: var(--primary);
    }
  }
  &__muted {
    color: var(--font-color-muted);
    font-size: var(--small-font-size);
  }

  &__copy {
    height: var(--copyright-height);
    background-color: var(--font-color);
    color: var(--body-color);
    display: flex;
    justify-content: space-between;
 
  }
}

/*
     <Navbar  className="nav fluid fixed-top p-1 " expand="lg">
      <figure className="col-3 col-md-2 col-lg-1  ps-3">
*/
