.footer {
  background-color: var(--secondary);
  padding: 1rem 4rem;

  &__icons {
    justify-content: space-between;

    i {
      padding: 1rem;
      color: var(--font-color);
      background-color: var(--form-color);
      border-radius: 50px;
    }
  }

  &__copy {
    height: var(--copyright-height);
    background-color: var(--font-color);
    color: var(--body-color);
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    width: 100vw;
  }
}
