.kontakt {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-evenly;
  // padding-top: var(--header-height);
  height: 100vh;

  &__container {
    margin-top: var(--header-height);
  }

  // height: calc(100vh - var(--header-height));
  // padding: 3rem;

  &__info {
    display: flex;
    flex-direction: column;
    // line-height: 3rem;
    margin-bottom: 2rem;

    a {
      color: var(--font-color);
      display: flex;
      position: relative;
      margin: 2rem 0;
    }

    p {
      font-weight: var(--font-semibold);
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      margin-left: 2rem;
    }

    .bx-tada-hover {
      font-size: 1.75rem;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      // margin: 0.7rem;
    }
  }

  &__map {
    // width: 40vw;
    // height: 100%;

    iframe {
      border-radius: 0.1rem;
      width: 100%;

      border: none;
      box-shadow: var(--shadow);
    }
  }
}

.form {
  // display: flex;
  // flex-direction: column;

  input,
  .text-area {
    background-color: var(--form-color);
    border: 0;

    box-shadow: var(--inner-shadow);

    &:focus {
      background-color: var(--form-color-focus);
      box-shadow: inset 1px 2px 8px #0000001c;
    }
  }

  // &__row {
  //   display: flex;
  // }

  &__btn {
    background-color: var(--font-color);
  }
}

.map-desktop {
  padding-top: var(--header-height);
  &__iframe {
    border-radius: 0.1rem;
    width: 100%;
    height: 100%;

    border: none;
    box-shadow: var(--shadow);
  }
}
