.kontakt {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  // padding-top: var(--header-height);

  &__h2 {
    margin: 0 !important;
  }

  // height: calc(100vh - var(--header-height));
  // padding: 3rem;

  &__info {
    display: flex;
    flex-direction: column;
    // line-height: 3rem;

    a {
      color: var(--font-color);
      display: flex;
      position: relative;
      margin: 2rem 0;

      &:hover {
        color: var(--primary);
      }
    }

    p {
      font-weight: var(--font-semibold);
      top: 50%;
      font-size: var(--small-font-size);
      transform: translateY(-50%);
      position: absolute;
      margin-left: 2rem;
    }

    .bx-tada-hover {
      font-size: 1.75rem;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      // margin: 0.7rem;
    }
  }

  &__map {
    // width: 40vw;
    // height: 100%;

    iframe {
      border-radius: 0.1rem;
      width: 100%;

      border: none;
      box-shadow: var(--shadow);
    }
  }
}

.form {
  // display: flex;
  // flex-direction: column;

  &__label {
    padding-left: 0.25rem;
  }

  &__btn {
    background-color: var(--title-color);
    color: var(--body-color);

    &:hover {
      color: var(--body-color);
      background-color: var(--font-color);
    }
  }
  &__input,
  &__text-area {
    background-color: var(--form-color);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: var(--inner-shadow);
    width: 100%;

    &:focus {
      background-color: var(--form-color-focus);
      box-shadow: inset 1px 2px 8px #0000001c;
    }
  }

  // &__row {
  //   display: flex;
  // }
}

.map-desktop {
  padding-top: var(--header-height);
  &__iframe {
    border-radius: 0.1rem;
    width: 100%;
    height: 100%;

    border: none;
    box-shadow: var(--shadow);
  }
}

.burger {
  cursor: pointer;
  font-size: 1.5rem;
}
