* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: var(--normal-font-size);
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

img {
  width: 100%;
}

p {
  font-size: var(--normal-font-size);
}

.button {
  box-shadow: var(--shadow);
  font-size: var(--small-font-size);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semibold);
  margin-bottom: 0;
}

.subtitle {
  font-size: var(--h3-font-size);
}

.muted {
  color: var(--font-color-muted);
}

.quote {
  object-fit: cover;
  width: 100%;
}

