.nav {
  display: flex;
  justify-content: space-between;
  z-index: var(--z-nav);
  padding: 1rem;

  &__logo {
    margin-right: 5rem;
  }
  ul {
    display: flex;
    gap: 2rem;
  }

  a {
    color: var(--font-color-muted);
  }

  &__btn {
  }
}
