.nav {
  // display: flex;
  justify-content: space-between;
  z-index: var(--z-nav);
  // position: fixed;
  padding: 1rem;
  height: var(--header-height);

  width: 100%;

  &__logo {
    margin-right: 15rem;
  }
  ul {
    display: flex;
    gap: 2rem;
    margin: 1rem;
  }

  a {
    color: var(--font-color-muted);
  }

  &__btn {
    background-color: var(--primary);
  }
}
