.omkring {
  background-color: var(--secondary);
  height: 100vh;
  position: relative;

  .center {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  &__textarea {
    text-align: center;

    hr {
      margin: 1rem auto;
      border: 1px solid var(--primary);
      width: 200px;
    }
  }

  &__subtitle {
  }

  &__title {
  }

  p {
    color: var(--font-color-muted);
  }
}
