.omkring {
  background-color: var(--secondary);
  height: 100vh;
  padding: 5rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 3rem;

  &__textarea {
    text-align: center;

    hr {
      margin: 1rem auto;
      border: 1px solid var(--primary);
      width: 200px;
    }
  }

  &__subtitle {
  }

  &__title {
  }

  p {
    color: var(--font-color-muted);
  }
}
