.omkring {
  background-color: var(--secondary);
  min-height: 100vh;
  position: relative;
  padding-top: var(--header-height);

  &__info {
    background-color: var(--form-color);
    // box-shadow: var(--inner-shadow);
    border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;

    &__img {
      border-radius: 0 1rem 0 0;
    }

    h3 {
      font-size: var(--font-h3);
      text-align: center;
      font-weight: var(--font-semibold);
      color: var(--primary);
    }

    li {
      font-size: var(--smaller-font-size);
      list-style: circle !important;
    }
  }

  &__textarea {
    text-align: center;

    hr {
      margin: 1rem auto;
      border: 1px solid var(--primary);
      width: 200px;
    }
  }

  p {
    color: var(--font-color-muted);
  }

  h3 {
    text-align: start;
  }
  &__list {
    line-height: 1rem;
    text-align: start;
  }
}
.img-1 {
  object-fit: cover;
  height: 250px;
}

.img-2 {
  object-fit: cover;
  height: 250px;
}

/* BELANGRIJKSTE HIERO */
.sidebar {
  width: 200px;
  padding-top: 25px;
}

.sidebar-link {
  padding: 10px;
}
.sidebar-link:hover {
  border-right: 5px solid dimgray;
  background-color: gainsboro;
}
