@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");
:root {
  --header-height: 5rem;
  --footer-height: 5rem;
  --copyright-height: 2rem;

  /* colours */
  --primary: #6a915f;
  --secondary: #dfe1dc;
  --body-color: #f7f8f7;
  --form-color: #eeecec;
  --form-color-focus: #e0dede;

  --title-color: #1f1f1f;
  --font-color: #1f1f1f;
  --font-color-muted: #747474;

  --shadow: 0 0 4px 1px rgba(0, 0, 0, 0.171);

  /* font size */
  --big-font-size: 4rem;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;

  --normal-font-size: 0.938rem;

  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /* font weight */
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --font-family: sans-serif;

  /* z index  */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --z-nav: 200;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: var(--font-family);
  overflow-x: hidden;
}

img {
  width: 100%;
}

button {
  padding: 0.75rem 2rem;
  border-radius: 5px;
  border: 0;
  margin: 0.5rem;
  box-shadow: var(--shadow);
  color: var(--body-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semibold);
}

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semibold);
}

.subtitle {
  font-size: var(--h3-font-size);
}

.muted {
  color: var(--font-color-muted);
}
