

:root{
    --header-height: 3rem;
    --footer-height: 5rem;
  
    /* colours */
    --primary: #6A915F;
    --secondary: #DFE1DC;
    --body-color: #F7F8F7;
    --form-color:#EBEBEB;

    --title-color: #1F1F1F;
    --font-color:#1F1F1F;
    --font-color-muted: #747474;

  
    /* font size */
    --big-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
  
    --normal-font-size: 0.938rem;
  
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.625rem;
  
    /* font weight */
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    --font-family: sans-serif;
  
    /* z index  */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --z-nav: 200;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    text-transform: capitalize;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-size: var(--normal-font-size);
    color: var(--font-color);
    background-color: var(--bg-color);
    font-family: var(--font-family);
  }

  button{
      padding: .5rem 1rem;
  }