@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");
:root {
  --header-height: 5rem;
  --footer-height: 5rem;
  --copyright-height: 2rem;

  /* colours */
  --primary: #6a915f;
  --secondary: #dfe1dc;
  --body-color: #f7f8f7;
  --form-color: #eeecec;
  --form-color-focus: #e0dede;

  --title-color: #1f1f1f;
  --font-color: #242424;
  --font-color-muted: #747474;

  --shadow: 0 0 4px 1px rgba(0, 0, 0, 0.171);
  --inner-shadow: inset 1px 2px 8px #0000001c;

  /* font size */
  --big-font-size: calc(1.475rem + 2.7vw);
  --h1-font-size: calc(1.375rem + 1.5vw);
  --h2-font-size: calc(1.325rem + 0.9vw);
  --h3-font-size: calc(1.1rem + 0.6vw);

  --normal-font-size: calc(0.7rem + 0.5vw);

  --small-font-size: calc(0.813rem + 0.2vw);
  --smaller-font-size: calc(0.75rem + 0.2vw);
  --tiny-font-size: calc(0.625rem + 0.1vw);

  /* font weight */
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --font-family: sans-serif;

  /* z index  */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --z-nav: 200;
}
